/**
 * Deletable styles, for visual assistance only
 */
 .container {
   outline: 4px solid plum;
 }

 .grid {
  counter-reset: box-number;
 }

 %grid-column-base {
   background-color: skyblue;
   color: #fff;
   height: 5em;
   font-size: 24px;
   text-align: center;
   position: relative;

   &:after {
    counter-increment: box-number;
    content: counter(box-number);
    font-size: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
   }

   & & {
     background-color: coral;
   }
   & & & {
     background-color: palegreen;
   }
 }
 /* end deletable styles */



.container {
  margin: 0 auto;
  max-width: $wrapper;
}

$grid: grid;

.#{$grid} {
  &:after {
    clear: both;
    content: '';
    display: table;
  }

  &__column {
    @extend %grid-column-base;
  }
}



/**
 * Flexbox
 */
.flexbox {
  .#{$grid} {
    @media screen and (min-width: 520px) {
      display: flex;

      &__column {
        @include gutterBot(5px);

        @for $i from 1 through $gridColumns {
          &--#{$i}-#{$gridColumns} {
            flex: $i;

            width: percentage( $i/$gridColumns );
          }
        }
      }

      &--fit {
        .#{$grid}__column {
          flex: 1;
        }
      }

      &--halves {
        flex-wrap: wrap;

        .#{$grid}__column {
          flex: 1 1 percentage(1/2);
          margin: 5px auto;
          padding: 0 5px;
        }
      }

      &--thirds {
        flex-wrap: wrap;

        .#{$grid}__column {
          flex: 1 1 percentage(1/3);
          margin: 5px auto;
          padding: 0 5px;
        }
      }

      &--fourths {
        flex-wrap: wrap;

        .#{$grid}__column {
          flex: 1 1 percentage(1/4);
          margin: 5px auto;
          padding: 0 5px;
        }
      }
    }
  }
}


/**
 * No Flexbox
 */
.no-flexbox {
  .grid {
    &__column {
      @media screen and (min-width: 520px) {
        float: left;
      }
    }
  }
}