/*
  `Vars & `Mixins
*/

$wrapper: 1440px;

$defaultGutter: 0 0 0 0 !default;

@mixin gutterBot($gutter: $defaultGutter) {
  margin: $gutter;
}

/*
  `Base
*/

.container {
  border: 5px solid;
  border-color: fuchsia;
  margin: 0 auto;
  max-width: $wrapper;
}

.grid-item {
  background-color: limegreen;
  color: #fff;
  font-size: 24px;
  text-align: center;
  
  & & {
    background-color: coral;
  }
}

/*
  `Flexbox Stuff
*/

// Setting the gutter
// If no value set, it takes default value of 0
.grid-item {
  @include gutterBot(5px);
}

// Init flexbox
.flex-parent {
  display: flex;
  
  .no-flex &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.grid-item {
  flex: 1;
  
  .no-flex & {
    float: left;
  }
}
.grid-item--2 {
  flex: 2;
}
.grid-item--3 {
  flex: 3;
}
.grid-item--4 {
  flex: 4;
}
.grid-item--5 {
  flex: 5;
}
.grid-item--6 {
  flex: 6;
}
.grid-item--7 {
  flex: 7;
}
.grid-item--8 {
  flex: 8;
}
.grid-item--9 {
  flex: 9;
}
.grid-item--10 {
  flex: 10;
}
.grid-item--11 {
  flex: 11;
}
.grid-item--12 {
  flex: 12;
}
