.container {
  outline: 4px solid plum;
  margin: 0 auto;
  max-width: $wrapper;
}

.item {
  background-color: skyblue;
  color: #fff;
  font-size: 24px;
  text-align: center;

  & & {
    background-color: coral;
  }
  & & & {
    background-color: palegreen;
  }
}

/*
  `Flexbox Stuff
*/

// Init flexbox
.flex-parent {
  display: flex;

  @media screen and (max-width: 520px) {
    flex-direction: column;
  }

  .no-flex &:after {
    clear: both;
    content: '';
    display: table;
  }
}

// Setting the gutter
// If no value set, it takes default value of 0
.item {
  @include gutterBot(5px);
  flex: 1;

  .no-flex & {
    flex: initial; // For testing '.no-flex' in a flexbox supported browser
    float: left;
  }
}

@for $i from 1 through 12 {
  .item--#{$i} {
    @extend .item;
    flex: $i;

    .no-flex & {
      width: percentage($i/$gridColumns);
    }
  }
}
