* {
  box-sizing: border-box; }

body {
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, san-serif;
  height: 100%; }

/**
 * Deletable styles, for visual assistance only
 */
.container {
  outline: 4px solid plum; }

.grid {
  counter-reset: box-number; }

.grid__column {
  background-color: skyblue;
  color: #fff;
  height: 5em;
  font-size: 24px;
  text-align: center;
  position: relative; }
  .grid__column:after {
    counter-increment: box-number;
    content: counter(box-number);
    font-size: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }
  .grid__column .grid__column {
    background-color: coral; }
  .grid__column .grid__column .grid__column {
    background-color: palegreen; }

/* end deletable styles */
.container {
  margin: 0 auto;
  max-width: 1440px; }

.grid:after {
  clear: both;
  content: '';
  display: table; }

/**
 * Flexbox
 */
@media screen and (min-width: 520px) {
  .flexbox .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .flexbox .grid__column {
      margin: 5px; }
      .flexbox .grid__column--1-12 {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        width: 8.3333333333%; }
      .flexbox .grid__column--2-12 {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
            -ms-flex: 2;
                flex: 2;
        width: 16.6666666667%; }
      .flexbox .grid__column--3-12 {
        -webkit-box-flex: 3;
        -webkit-flex: 3;
            -ms-flex: 3;
                flex: 3;
        width: 25%; }
      .flexbox .grid__column--4-12 {
        -webkit-box-flex: 4;
        -webkit-flex: 4;
            -ms-flex: 4;
                flex: 4;
        width: 33.3333333333%; }
      .flexbox .grid__column--5-12 {
        -webkit-box-flex: 5;
        -webkit-flex: 5;
            -ms-flex: 5;
                flex: 5;
        width: 41.6666666667%; }
      .flexbox .grid__column--6-12 {
        -webkit-box-flex: 6;
        -webkit-flex: 6;
            -ms-flex: 6;
                flex: 6;
        width: 50%; }
      .flexbox .grid__column--7-12 {
        -webkit-box-flex: 7;
        -webkit-flex: 7;
            -ms-flex: 7;
                flex: 7;
        width: 58.3333333333%; }
      .flexbox .grid__column--8-12 {
        -webkit-box-flex: 8;
        -webkit-flex: 8;
            -ms-flex: 8;
                flex: 8;
        width: 66.6666666667%; }
      .flexbox .grid__column--9-12 {
        -webkit-box-flex: 9;
        -webkit-flex: 9;
            -ms-flex: 9;
                flex: 9;
        width: 75%; }
      .flexbox .grid__column--10-12 {
        -webkit-box-flex: 10;
        -webkit-flex: 10;
            -ms-flex: 10;
                flex: 10;
        width: 83.3333333333%; }
      .flexbox .grid__column--11-12 {
        -webkit-box-flex: 11;
        -webkit-flex: 11;
            -ms-flex: 11;
                flex: 11;
        width: 91.6666666667%; }
      .flexbox .grid__column--12-12 {
        -webkit-box-flex: 12;
        -webkit-flex: 12;
            -ms-flex: 12;
                flex: 12;
        width: 100%; }
    .flexbox .grid--fit .grid__column {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .flexbox .grid--halves {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .flexbox .grid--halves .grid__column {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 50%;
            -ms-flex: 1 1 50%;
                flex: 1 1 50%;
        margin: 5px auto;
        padding: 0 5px; }
    .flexbox .grid--thirds {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .flexbox .grid--thirds .grid__column {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 33.3333333333%;
            -ms-flex: 1 1 33.3333333333%;
                flex: 1 1 33.3333333333%;
        margin: 5px auto;
        padding: 0 5px; }
    .flexbox .grid--fourths {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .flexbox .grid--fourths .grid__column {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 25%;
            -ms-flex: 1 1 25%;
                flex: 1 1 25%;
        margin: 5px auto;
        padding: 0 5px; } }

/**
 * No Flexbox
 */
@media screen and (min-width: 520px) {
  .no-flexbox .grid__column {
    float: left; } }

/*# sourceMappingURL=styles.css.map */